@import '_palette';
@import '_typography';
@import '_semiRigid-gradient.scss';

body
{
    overflow-x: hidden;
}

/*
    Page Sections
*/
%page-section
{
    min-height: 80vh;
    padding: $vru-rem;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before
    {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;

        //give a little to rid of those pesky 1px lines that sneak in sometimes
        top: -1px;
        bottom: -1px;
    }
}

%page-section-inner
{
    z-index: 2;
}

%page-section-background-skew-left
{
    transform: perspective(20rem) rotateY(-1deg);
    transform-origin: left center;
}

%page-section-background-skew-right
{
    transform: perspective(20rem) rotateY(1deg);
    transform-origin: right center;
}

%page-section--slim
{
    min-height: 40vh;
}

/* Page Header */

.page-header
{
    @extend %page-section;

    color: $color-white;

    &::before
    {
        z-index: 1;
        background-color: $color-primary;
        $transparency: .92;
        $breakDefinitions: (
            (color: $color-accent-2, position: -10%)
            (color: $color-primary, position: 45%)
            (color: $color-accent-1, position: 100%)
        );

        @include semiRigid-gradient($breakDefinitions: $breakDefinitions, $transparency: $transparency);

        @extend %page-section-background-skew-right;
    }
}

.page-header-inner
{
    @extend %page-section-inner;
}

/* Page Footer */

.page-footer
{
    @extend %page-section;
    @extend %page-section--slim;

    background-color: $color-accent-2;
}

.page-footer-inner
{
    @extend %page-section-inner;

    text-align: center;
}

.page-footer-copyright
{
    @include scale(-1);
}

/* Page Sections */


.page-section:nth-of-type(even)
{
    color: $color-white;

    &::before
    {
        z-index: 1;
        background-color: $color-primary;
        @extend %page-section-background-skew-right;
    }
}

.page-section:nth-of-type(odd)
{
    color: $color-white;

    &::before
    {
        z-index: 0;
        background-color: $color-secondary;
    }
}

.page-section
{
    @extend %page-section;
}

.page-section-inner
{
    @extend %page-section-inner;

    max-width: 40rem;
}

.page-section--slim
{
    @extend %page-section--slim;
}


/*
Page Title
*/

.page-title-first
{
    font-weight: 300;
}
.page-title-last
{
    font-weight: 900;
    margin-left: -.15em;
}