@import '_palette';
@import '_typography';

/*
    Page Sections
*/
%page-section
{
    min-height: 80vh;
    padding: $vru-rem;
}

.page-header
{
    @extend %page-section;

    background-color: $color-primary;
    color: $color-white;
}

.page-section:nth-of-type(even)
{
    background-color: $color-primary;
    color: $color-white;
}

.page-section:nth-of-type(odd)
{
    background-color: $color-secondary;
    color: $color-white;
}

.page-section
{
    @extend %page-section;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-section-inner
{
    max-width: 40rem;
}

/*
Page Title
*/

.page-title-first
{
    font-weight: 300;
}
.page-title-last
{
    font-weight: 900;
    margin-left: -.15em;
}