/*  Typography

    Follows the principles of:
     * modular scale 
     * vertical rhythm (http://webtypography.net/2.2.2)
*/

@import "_scale";

html
{
    font-size: 125%;
}

%headings
{
    font-family: $font-header;
    font-weight: 900;
}

h1, %h1
{
    @extend %headings;
    @include scale(3);
}

h2, %h2
{
    @extend %headings;
    @include scale(2);
}

h3, %h3
{
    @extend %headings;
    @include scale(1);
}

body
{
    @include scale($magnitude: 0, $includeMargin: false);
    font-family: $font-body;
    padding: 0;
}

%blocks
{
    margin-top: $vru-rem;
    margin-bottom: 0;
}

%headings + ul
{
    margin-top: 0;
}

p
{
    @extend %blocks;
}

%lists
{
    @extend %blocks;
}

ul
{
    @extend %lists;
}

ol
{
    @extend %lists;
}