/*  Typography

    Follows the principles of:
     * modular scale 
     * vertical rhythm (http://webtypography.net/2.2.2)
*/

$magicNumber: 1.5;
$magicNumberEm: #{$magicNumber}em;
$magicNumberRem: #{$magicNumber}rem;
$charSize: .37em;

$font-header: Lato, Helvetica, sans-serif;
$font-body: Montserrat, Arial, sans-serif;

@mixin scale($magnitude, $includeMargin: true)
{
    $font-size: 1rem;
    $margin: $magicNumberRem;
    $line-height: $magicNumberRem;

    @if $magnitude == 1
    {
        $font-size: 1.33rem;
        $line-height: 1.1278em;
        $margin: 1.1278em
    }
    @else if $magnitude == 2
    {
        $font-size: 1.777rem;
        $line-height: 1.6901em;
        $margin: 0.8451em;
    }
    @else if $magnitude == 3
    {
        $font-size: 2.369rem;
        $line-height: 1.2658em;
        $margin: 0.6329em;
    }
    @else if $magnitude == 4
    {
        $font-size: 3.157rem;
        $line-height: 1.4263em;
        $margin: 0.4754em;
    }
    
    font-size: $font-size;
    line-height: $line-height;
    
    @if $includeMargin == true
    {
        margin-bottom: 0;
        margin-top: $margin;

        &:first-child, &.first-child
        {
            margin-top: 0;
        }
    }
}

html
{
    font-size: 125%;
}

%headings
{
    font-family: $font-header;
    font-weight: 900;
}

h1, %h1
{
    @extend %headings;
    @include scale(4);
}

h2, %h2
{
    @extend %headings;
    @include scale(3);
}

h3, %h3
{
    @extend %headings;
    @include scale(2);
}

h4, %h4
{
    @extend %headings;
    @include scale(1);
}

body
{
    @include scale($magnitude: 0, $includeMargin: false);
    font-family: $font-body;
    padding: 0;
}

%blocks
{
    $margin: $magicNumberRem;
    margin-bottom: 0;
}

p
{
    @extend %blocks;
}

%lists
{
    @extend %blocks;
}

ul
{
    @extend %lists;
}

ol
{
    @extend %lists;
}